* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: nazanin;
  src: url(../font/BNazanin.ttf) format(truetype);
}
@font-face {
  font-family: kanran;
  src: url(../font/KamranB.ttf) format(truetype);
}
body {
  font-family: nazanin;
  background-image: url(../image/img3.jpg);
  background-color: rgba(0, 0, 0, 0.301);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: center;
}
.header .list {
  list-style-type: none;
  text-align: center;
}
.header .list .item {
  display: inline-block;
  padding: 30px;
  font-size: 20px;
  color: black;
}
.header .list .item:hover {
  display: inline-block;
  padding: 30px;
  color: rgb(7, 247, 7);
  transform: scale(1.1);
}
.title {
  font-size: 80px;
  font-family: nazanin;
  margin-top: 100px;
}
.header h1 span {
  color: rgb(52, 252, 12);
  text-shadow: 0 0 10px black;
}
.header p {
  margin: auto;
  width: 550px;
  height: 55px;
  line-height: 55px;
  margin-top: 40px;
  font-family: kamran;
  font-size: 30px;
  background-color: rgba(239, 252, 59, 0.562);
  border-radius: 40px;
  border: 1px solid green;
}
.butt {
  width: 100px;
  height: 50px;
  margin-top: 80px;
  font-size: 25px;
  background-color: rgba(247, 130, 83, 0.767);
  box-shadow: 0 0 10px black;
  border-style: none;
  border-radius: 20px;
  font-family: "Times New Roman", Times, serif;
}
.butt:hover {
  transform: scale(1.1);
}
.icon {
  margin-top: 20px;
}
.material-icons {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.members {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 10px;
}
.member-list {
  list-style-type: none;
  margin-top: 10px;
}
.member-item {
  width: 400px;
  height: 550px;
  display: inline-block;
  margin: 10px 110px;
  background-color: rgb(110, 160, 69);
  border: 1px solid green;
  border-radius: 50px;
  box-shadow: 0 0 10px black;
}
.member-item:hover {
  transform: scale(1.1);
  border: 5px dotted black;
}
.pic {
  padding: 10px;
}
.name {
  margin: 20px;
  font-size: 30px;
}
.bio {
  padding: 0 30px;
  text-align: justify;
}
.members h2 {
  text-align: center;
  padding: 20px;
}
.about {
  height: 800px;
  background-image: url(../image/img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.418);
  background-blend-mode: multiply;
}
.circle {
  height: 700px;
  width: 700px;
  background-color: rgba(123, 240, 100, 0.658);
  margin: auto;
  border-radius: 50%;
  text-align: center;
  padding: 90px 120px;
}
.circle h2 {
  font-size: 40px;
}
.circle p {
  font-size: 27px;
  text-align: justify;
  margin-top: 40px;
}
.footer {
  margin: auto;
  height: 150px;
  text-align: center;
  padding: 20px 0;
}
.aks {
  width: 40px;
  height: 40px;
  margin: 10px 30px;
}
.aks:hover {
  border: 2px dashed red;
  border-radius: 50%;
  transform: scale(1.5);
}
.footer p {
  background-color: rgba(123, 224, 75, 0.795);
  margin: auto;
  font-family: kamran;
  font-size: 30px;
  padding: 5px;
}